@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: #000; */
}
html{
    scroll-behavior: smooth;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* line-height: 0; */
}
.content-box-sm{
    padding: 40px 20px;

}
.content-box-md{
    padding: 80px 20px;
}
.content-box-lg{
    padding: 120px 0;
}
a{
  text-decoration: none;  
  display: inline-block;
}



li{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.container{
    width: 100%;
    max-width: 1200px;
    /* max-width: 1100px; */
    margin: 0 auto;
}
.topBar{
    border: 1px solid #dcdcdc;
}
.topBar .topBar-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.topBar .icons a{
    height: 30px;
    width: 30px;
    padding: 5px;
    /* margin: 30px 0; */
    background-color: transparent;
    transition: background-color .5s ease-in-out;
    position: relative;
}
.topBar span.h-line{
    width: 65px;
    height: 2px;
    display: inline-block;
    background-color: #2ED6BB;
    position: absolute;
    top: 58px;
    left: 50%;
}
.hot-line a{
    color: black;
}
.topBar span.number{
    padding-left: 20px;
}
.topBar .icons a:hover{
    background-color: #2DACE3;
}
.topBar .icons svg{
    height: 100%;
    width: 100%;
    fill: #4a4a4a;
}
.menu{
    border: 1px solid #dcdcdc;

}
.menu .menu-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}
.menu .menu-wrap .logo{
    width: 114px;
}
.menu .menu-wrap .logo img{
    width: 100%;
}
.menu .menu-wrap .openBtn{
    width: 40px;
    height: 40px;
    display: none;
}
.menu .menu-wrap .openBtn svg{
    width: 100%;
    height: 100%;
}
.menu .menu-wrap ul.menus{
    display: flex;
    flex-wrap: wrap;
}
.menu .menu-wrap ul.menus li:not(:last-child){
    margin-right: 10px;
}
.menu .menu-wrap ul.menus li a{
    color: black;
    padding: 5px 7px;
    transition: color, background-color .5s ease-in-out;
    
}
.menu .menu-wrap ul.menus li a:hover{
    background-color:  rgba(0,0,0,0.7);
    color: white;
}

.menu .menu-wrap .menu-closeBtn{
    width: 30px;
    height: 30px;
    display: none;
}
.menu .menu-wrap .menu-closeBtn svg{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 767px){
    .menu .menu-wrap .openBtn{
        display: block;
        margin-right: 20px;
    }
    .menu .menu-wrap svg{
        /* fill: white; */
    }
    .menu .menu-wrap .dropdown{
        text-align: center;
    }
    .menu .menu-wrap .dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:147px;
        right: 0;
        transform: translateX(300px);

        transition: transform .5s ease-in-out;
        z-index: 3;
        display: none;
}
.menu .menu-wrap .dropdown.active{
    transform: translateX(0);

}
    .menu .menu-wrap ul.menus{
        display: block;
    }
    .menu .menu-wrap ul.menus li a{
        color: white;

    }
    .menu .menu-wrap .menus.active{
        display: block;
    }
    .menu .menu-wrap .search{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .menu .menu-wrap .dropdown{
    display: block;
    text-align: center;
    }
    .menu .menu-wrap ul.menus .menu-closeBtn{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 15px;
        margin-right: 10px;
    }
    .menu .menu-wrap ul.menus .menu-closeBtn svg{
        fill: white;
    }
}
@media screen and (max-width: 470px){

    .topBar span.h-line {
        
        top: 90px;
        left: 44%;
    }
    .topBar .topBar-wrap{
        justify-content: center;
    }
    .menu .menu-wrap .dropdown{
        top: 178px;
    }
}
a.btn{
    padding: 15px 30px;
    border-radius: 22px;
    box-shadow: 0 0 12px 0 rgba(108, 108, 108, 0.23);
    color: #4caf50;
    transition: color, background-color .5s ease-in-out;
    margin-top: 20px;
}
a.btn:hover{
    background-color: #4caf50;
    color: white;
}
.home{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    
}
.home .imgs img{
    width: 25px;
    height: 25px;
}
.home .imgs img:first-child{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -48px;
    left: 300px;
    z-index: -1;
    animation-name: eg;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
/*  */
}
@keyframes eg{
    0%{
        top: -48px;
    }
    25%{
        top: 248px;
     }
     50%{
         top: 400px;
     }
     75%{
         top: 248px;
     }
     100%{
         top: -48px;
     }
   
    
}

.home .imgs img:nth-child(2){
    width: 20px;
    height: 60px;
    position: absolute;
    top: -32px;
    right: 200px;
    z-index: -1;
    animation-name: eg;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
/*  */
}
@keyframes eg{
    0%{
        top: -32px;
        /* right: 200px; */
    }
    50%{
        top: 200px;
           
            /* right: 0; */
     }
     100%{
         top: 400px;
     }
     /* 75%{
         top: 200px;
     }
     100%{
         top: -32px;
     } */
   
    
}
.home .imgs img:nth-child(3){
    width: 41px;
    height: 60px;
    position: absolute;
    top: -39px;
    right: 100px;
    z-index: -1;
    animation-name: eg1;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes eg1{
    0%{
    right: 100px;
    }
    50%{
        right: 500px;
    }
    100%{
        right: 1000px;
    }
    /* 75%{
        right: 500px;
    }
    100%{
        right: 100px;
    } */
}
.home .imgs img:nth-child(4){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 203px;
    left: 700px;
    z-index: -1;
    animation-name: eg2;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

}
@keyframes eg2{
    0%{
        top: 203px;
    }
    25%{
        top: 403px;
    }
    50%{
        top: 603px;
    }
    75%{
        top: 403px;
    }
    100%{
        top: 203px;
    }
}
.home .imgs img:nth-child(5){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 291px;
    left: 348px;
    z-index: -1;
    animation-name: eg3;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes eg3{
    0%{
        top: 291px;
    }
    25%{
        top: 403px;
    }
    50%{
        top: 603px;
    }
    75%{
        top: 403px;
    }
    100%{
        top: 291px;
    }
}

.home .imgs img:nth-child(6){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 257px;
    right: 526px;
    z-index: -1;
    animation: eg4 35s linear infinite;

}
@keyframes eg4{
    0%{
        right: 526px;
    }
    25%{
        right:0px;
    }
    50%{
        right:250px;
    }
    75%{
        right:0px;
    }
    100%{
        right:526px;
    }
}
.home .imgs img:nth-child(7){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 250px;
    right: 126px;
    z-index: -1;
    animation-name: eg5;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}
@keyframes eg5{
    0%{
    right: 126px;
    }
    25%{
    right: 326px;
  
    }
    50%{
    right: 626px;
        
    }
    75%{
    right: 326px;
        
    }
    100%{
    right: 126px;
        
    }
}
.home .imgs img:nth-child(8){
    width: 168px;
    height: 168px;
    position: absolute;
    top: 350px;
    left: 190px;
    z-index: -1;
    animation-name: eg6;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg6{
    0%{
        top: 350px;
        left: 190px;
    }
    25%{
        top: 350px;
        left: 390px;
    }
    50%{
        top: 750px;
        left: 690px;
    }
    75%{
        top: 450px;
        left: 390px;
    }
    100%{
        top: 350px;
        left: 190px;
    }
    
}
.home .imgs img:nth-child(9){
    width: 15px;
    height: 15px;
    position: absolute;
    top: 375px;
    left: 440px;
    z-index: -1;
    animation-name: eg7;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg7{
    0%{
        left: 440px;
    }
    25%{
        left: 640px;
    }
    50%{
        left: 940px;
    }
    75%{
        left: 640px;
    }
    100%{
        left: 440px;
    }
    
}
.home .imgs img:nth-child(10){
    width: 15px;
    height: 15px;
    position: absolute;
    top: 325px;
    right: 440px;
    z-index: -1;
    animation-name: eg8;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg8{
    0%{
        top: 325px;
        right: 440px;

    }
    25%{
        top: 525px;

    }
    50%{
        top: 525px;
        right: 240px;

    }
    75%{
        top: 525px;
    }
    100%{
        top: 325px;
        right: 440px;

    }
    
}

.home .imgs img:nth-child(11){
    width: 35px;
    height: 35px;
    position: absolute;
    top: 455px;
    right: 240px;
    z-index: -1;
    animation-name: eg9;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg9{
    0%{
        top: 455px;
    }
    25%{
        top: 255px;
    }
    50%{
        top: 655px;
    }
    75%{
        top: 255px;
    }
    100%{
        top: 455px;
    }
    
}
.home .imgs img:nth-child(12){
    width: 45px;
    height: 15px;
    position: absolute;
    top: 590px;
    left: 540px;
    z-index: -1;
    animation-name: eg10;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg10{
    0%{
        top: 590px;
    }
    25%{
        top: 255px;
    }
    50%{
        top: 655px;
    }
    75%{
        top: 255px;
    }
    100%{
        top: 590px;
    }
    
}
.home .imgs img:nth-child(13){
    width: 35px;
    height: 35px;
    position: absolute;
    top: 600px;
    right: 640px;
    z-index: -1;
    animation-name: eg11;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg11{
    0%{
        top: 600px;
    }
    25%{
        top: 455px;
    }
    50%{
        top: 255px;
    }
    75%{
        top: 455px;
    }
    100%{
        top: 600px;
    }
    
}
.home .imgs img:nth-child(14){
    width: 175px;
    height: 175px;
    position: absolute;
    top: 470px;
    right: 390px;
    z-index: -1;
    animation-name: eg12;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg12{
    0%{
        right: 390px;

    }
    25%{
        right: 590px;

    }
    50%{
        right: 790px;

    }
    75%{
        right: 590px;

    }
    100%{
        right: 390px;

    }
    
}
.home .home-wrap{
    width: 100%;
    height: 582px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.home .home-wrap .wrap-content{
    width: 100%;
    max-width: 817px;
    vertical-align: middle;
}
.home .home-wrap .wrap-content h1{
    font-size: 50px;
    font-family: Roboto;
}
.home .home-wrap .wrap-content p{
    font-family: Roboto;
  font-size: 18px;
  color: #6b7c93;
  line-height: 1.4;
}
.brand{
    
}
.brands .brands-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.brands .brands-wrap .heading{
    width: 100%;
    max-width: 40%;
}
.brands .brands-wrap .brand-imgs{
    width: 100%;
    max-width:60%;
}
.brands .brands-wrap .brand-imgs .brand-img{
    width: 80px;
    /* height: 50px; */
}
.brands .brands-wrap .brand-imgs img{
    width: 100%;
    object-fit: cover;
    filter: grayscale(1000);
    transition: filter .2s ease-in-out;
}
.brands .brands-wrap .brand-imgs:hover img{
    filter: grayscale(0);
}
.brands .brands-wrap .brand-imgs .imgs-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.brands .brands-wrap .brand-imgs .imgs-wrap .brand-img{
    width: 100%;
    max-width: 25%;
    padding: 0 20px;
}
@media screen and (max-width: 767px){
    .brands .brands-wrap .brand-imgs .imgs-wrap .brand-img{
        width: 100%;
        max-width: 50%;
        padding: 15px 20px;
    }
    .brands .brands-wrap .brand-imgs .brand-img{
        width: 80px;
        /* padding: 12px; */
    }
}
@media screen and (max-width: 460px){
    .home .home-wrap .wrap-content h1{
        font-size: 40px;
    }
    .brands .brands-wrap .heading{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .brands .brands-wrap .brand-imgs{
        width: 100%;
        max-width:100%;
    }
}
/* Services */
.service{

}
.service .service-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.service .service-wrap .service-img{
    width: 100%;
    max-width: 40%;
}
.service .service-wrap .service-img img{
    width: 100%;
    /* height: 650px;
    object-fit: cover; */
    /* align-items: center; */

}
.service .service-wrap .service-content{
    width: 100%;
    max-width: 60%;
    padding-left: 40px;
}
.conteener{
    width: 100%;
    max-width: 1300px;
    /* max-width: 1100px; */
    margin-right: -50px;
}
.containar{
    width: 100%;
    max-width: 1300px;
    /* max-width: 1100px; */
    margin-left: auto;
}
.service .service-content .heading{
    margin-bottom: 50px;
}
.service .service-content .boxes{
    display: flex;
    flex-wrap: wrap;
}
.service .box{
    width: 100%;
    max-width: 50%;
}
.service .box .box-content{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    padding-right: 35px;
    padding-bottom: 30px;
}
.service .box-content .box-img{
    width: 100%;
    max-width: 20%;
    /* padding: 10px; */
}
.service .box-content .box-img img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.service .box-content .content{
    width: 100%;
    max-width: 80%;
    padding-left: 5px;
}
.service .box-content .content h3{
    margin: 0;
}
.service .box-content .content p{
    /* margin: 0; */
    line-height: 1.7;
    font-size: 12px;
}
@media screen and (max-width: 767px){
    .service .service-wrap .service-img{
        width: 100%;
        max-width: 100%;
    }
    .service .service-wrap .service-content{
        width: 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-top: 30px;
    }
}
@media screen and (max-width: 450px){
    .service .box {
        width: 100%;
        max-width: 100%;
    }
    .service .box .box-content{
        padding-right: 20px;
    }
}
.things{
    background-color:  #FAFAFA;
    width: 100%;
    height: 100%;
    position: relative;
}
.things:before{
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    clip-path: polygon(100% 10%, 0 100%, 100% 100%);
}
.things:after{
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    top: -200px;
    left: 0;
    background-color:#FAFAFA;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}
/* .things .slanted{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewX(5deg);
    background-color: #FAFAFA;
    transform-origin: top left;
    z-index: -1;
} */
.things .things-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.things .things-wrap .wrap-content{
    width: 100%;
    max-width: 60%;
    padding-right: 30px;
}
.things .things-wrap .heading p{
    font-size: 14px;
    line-height: 1.5;
}
.things .things-wrap .things-img{
    width: 100%;
    max-width: 40%;
}
.things .things-wrap .things-img img{
    width: 100%;
}
.things .things-wrap .boxes{
    display: flex;
    flex-wrap: wrap;
}
.things .boxes .box{
    width: 100%;
    max-width: 50%;
    /* text-align: center; */
    padding-top: 40px;
}
.things .boxes .box h1{
    margin: 0;
    font-size: 44px;
    font-weight: 100;
    line-height: 0.55;
}
.things .boxes .box p{
    font-size: 14px;
    line-height: 1.2;
}
.things .boxes .box h1.green{
    color: #32d5ba;
}
.things .boxes .box h1.l-green{
    color: #6dc4f2;
}

.things .boxes .box h1.yellow{
    color: #ffd13c;
}
.things .boxes .box h1.orange{
    color: #f44336;
}
@media screen and (max-width: 767px){
    .things .boxes .box{
        padding-top: 20px;
    }
}
@media screen and (max-width: 575px){
    .things .things-wrap .wrap-content{
        max-width: 100%;
        text-align: center;
    }
    .things .things-wrap .things-img{
        max-width: 100%;
        padding-top: 35px;
        text-align: center;

    }
}
.contact{
    text-align: center;
    position: relative;
    z-index: 1;
}
.contact .imgs img:first-child{
    width: 36px;
    height: 38px;
    position: absolute;
    top: 179px;
    right: 150px;
    /* left: 0; */
    z-index: -1;
    animation-name: eg15;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg15{
    0%{
        top: 179px;
    }
    25%{
        top: 255px;
    }
    50%{
        top: 655px;
    }
    75%{
        top: 255px;
    }
    100%{
        top: 179px;
    }
    
}


.contact .imgs img:nth-child(2){
    width: 184px;
    height: 184px;
    position: absolute;
    top: 207px;
    left: 59px;
    /* left: 0; */
    z-index: -1;
    /* right: 0; */
    animation-name: eg16;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg16{
    0%{
        left: 59px;
    }
    25%{
        left: 100px;
    }
    50%{
        left: 130px;
    }
    75%{
        left: 100px;
    }
    100%{
        left: 59px;
    }
    
}

.contact .imgs img:nth-child(3){
    width: 41px;
    height: 39px;
    position: absolute;
    top: 281px;
    right: 268px;
    /* left: 0; */
    z-index: -1;
    animation-name: eg17;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg17{
    0%{
        top: 281px;
    }
    25%{
        top: 581px;
    }
    50%{
        top: 881px;
    }
    75%{
        top: 581px;
    }
    100%{
        top: 281px;
    }
    
}
.contact .imgs img:nth-child(4){
    width: 47px;
    height: 38px;
    position: absolute;
    top: 333px;
    right: 350px;
    /* left: 0; */
    z-index: -1;
    animation-name: eg18;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg18{
    0%{
       top: 333px;
    }
    25%{
        top: 633px;
    }
    50%{
        top: 933px;
    }
    75%{
        top: 633px;
    }
    100%{
       top: 333px;
    }
    
}
.contact .imgs img:nth-child(5){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 451px;
    right: 78px;
    /* left: 0; */
    z-index: -1;
    animation-name: eg19;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg19{
    0%{
        top: 451px;
        right: 78px;
    }
    25%{
        top: 251px;
        right:90px;
    }
    50%{
        top: 151px;
        right: 100px;
    }
    75%{
        top: 251px;
        right: 100px;
    }
    100%{
        top: 451px;
        right: 78px;
    }
    
}


.contact .imgs img:nth-child(6){
    width: 33px;
    height: 42px;
    position: absolute;
    top: 557px;
    left: 226px;
    /* left: 0; */
    z-index: -1;
    animation-name: eg19;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg19{
    0%{
      top: 557px;
    }
    25%{
       top: 357px;
    }
    50%{
        top: 333px;
    }
    75%{
       top: 357px;
    }
    100%{
      top: 557px;
    }
    
}
.contact .imgs img:nth-child(7){
    width: 65px;
    height: 34px;
    position: absolute;
    top: 571px;
    left: 237px;
    /* left: 0; */
    z-index: -1;
    /* right: 0; */
    animation-name: eg19;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg19{
    0%{
      top: 571px;
    }
    25%{
       top: 457px;
    }
    50%{
        top: 533px;
    }
    75%{
       top: 457px;
    }
    100%{
      top: 571px;
    }
    
}
.contact .imgs img:nth-child(8){
    width: 16px;
    height: 16px;
    position: absolute;
    top: 558px;
    right: 77px;
    /* left: 0; */
    z-index: -1;
    animation-name: eg20;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg20{
    0%{
        top: 558px;
    }
    25%{
       top: 358px;
    }
    50%{
        top: 158px;
    }
    75%{
       top: 358px;
    }
    100%{
        top: 558px;
    }
    
}
.contact .imgs img:nth-child(9){
    width: 15px;
    height: 15px;
    position: absolute;
    top: 675px;
    right: 300px;
    z-index: -1;
    /* left: 0; */
    animation-name: eg21;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg21{
    0%{
        top: 675px;
    }
    25%{
       top: 375px;
    }
    50%{
        top: 175px;
    }
    75%{
       ttop: 375px;
    }
    100%{
        top: 675px;
    }
    
}
.contact .imgs img:nth-child(10){
    width: 51px;
    height: 49px;
    position: absolute;
    bottom: 365px;
    left: 300px;
    z-index: -1;
    animation-name: eg22;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg22{
    0%{
        top: 675px;
    }
    25%{
       top: 375px;
    }
    50%{
        top: 175px;
    }
    75%{
       ttop: 375px;
    }
    100%{
        top: 675px;
    }
    
}
.contact .imgs img:nth-child(11){
    width: 79px;
    height: 36px;
    position: absolute;
    bottom: 377px;
    /* left: auto; */
    left: 300px;
    z-index: -1;
    /* right: 0; */
    transform: rotate(-24deg);
    animation-name: eg22;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg22{
    0%{
        top: 675px;
    }
    25%{
       top: 375px;
    }
    50%{
        top: 175px;
    }
    75%{
       ttop: 375px;
    }
    100%{
        top: 675px;
    }
    
}
.contact .imgs img:nth-child(12){
    width: 8px;
    height: 67px;
    position: absolute;
    top: 690px;
    right: 400px;
    z-index: -1;
    animation-name: eg22;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration:35s;
}
@keyframes eg22{
    0%{
        top: 675px;
    }
    25%{
       top: 375px;
    }
    50%{
        top: 175px;
    }
    75%{
       ttop: 375px;
    }
    100%{
        top: 675px;
    }
    
}
.contact .imgs img:nth-child(13){
    width: 35px;
    height: 35px;
    position: absolute;
    top: 600px;
    right: 640px;
    z-index: -1;
}
.contact .imgs img:nth-child(14){
    width: 89px;
    height: 17px;
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: -1;
    animation-name: eg23;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg23{
    0%{
        left: 0px;
    }
    25%{
       left: 100px;
    }
    50%{
        left: 200px;
    }
    75%{
       left: 100px;
    }
    100%{
        left: 0px;
    }
    
}
.contact .imgs img:nth-child(15){
    width: 56px;
    height: 53px;
    position: absolute;
    top: -156px;
    right: 190px;
    z-index: -1;
    animation-name: eg23;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes eg23{
    0%{
        top: -156px;
    }
    25%{
        top: 256px;
    }
    50%{
        top: 500px;
    }
    75%{
        top: 256px;
    }
    100%{
        top: -156px;
    }
    
}
@media screen and (max-width: 767px){
    .contact .imgs img:nth-child(2){
        width: 154px;
        height: 154px;
        position: absolute;
        top: 207px;
        left: 59px;
        z-index: -1;
        right: 0;
    }
    .contact .imgs img:nth-child(7){
        top: 571px;
        left: 37px;
    }
    .contact .imgs img:nth-child(10){
        bottom: 365px;
        left: 30px;
    }
    .contact .imgs img:nth-child(11){
        left: 30px;
    }
}
.contact .heading{
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
}
.contact form{
    width: 100%;
    max-width: 750px;
    border-radius: 9px;
    box-shadow: 0 0 28px 0 rgba(183, 183, 183, 0.45);
    margin: 30px auto;
    text-align: left;
    padding: 30px 60px;
    margin: 80px auto;
    background-color: #fff;
}
.contact form input{
    width: 100%;
    padding: 21px 10px;
    font-size: 19px;
    margin: 10px 0;
    border: none;
    background-color: #F5F5F5;
}
.contact form .name{
    display: flex;
    flex-wrap: wrap;
}
.contact form .name .type{
    width: 100%;
    max-width: 50%;
}
.contact form .name .type:not(:last-child){
padding-right: 13px;
}
.contact form textarea{
    width: 100%;
    border: none;
    background-color: #F5F5F5;
    margin: 10px 0;
}
.contact form a{
    margin-top: 41px;
    margin-bottom: 56px;
}
@media screen and (max-width: 576px){
    .contact form{
        padding: 20px 30px;
    }
    .contact form .name .type{
        width: 100%;
        max-width: 100%;
    }
    .contact form .name .type:not(:last-child){
        padding: 0;
    }
}
.footer{
 background-color: #FAFAFA;
 width: 100%;
 height: 100%;
 position: relative;
}
.footer:before{
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    top: -200px;
    left: 0;
    background-color: #FAFAFa;
    clip-path: polygon(100% 20%, 0 100%, 100% 100%);
}
.footer .footer-wrap{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}
.footer .footer-wrap .content{
    width: 100%;
    max-width: 34%;
    padding-right: 30px;
}
.footer .footer-wrap .content p{
    font-size: 14px;

}

.footer .footer-wrap .content .heading{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.footer .footer-wrap .content .heading p{
    width: 100%;
    max-width: 50%;
    font-weight: bold;
}
.footer .footer-wrap .content img{
    width: 150px;
}
.footer .footer-wrap .categories{
    width: 100%;
    max-width: 22%;
}
.footer .footer-wrap .community{
    width: 100%;
    max-width: 22%;
}
.footer .footer-wrap li{
    line-height: 2.1;
}
.footer .footer-wrap .icon{
    width: 100%;
    max-width: 22%;
}
.footer .footer-wrap .icon svg{
    width: 17px;
    height: 15px;
    margin-right: 10px;
}
.footer li{
    cursor: pointer;
}
@media screen and (max-width: 767px){
    .footer .footer-wrap .content{
        width: 100%;
        max-width: 50%;
        text-align: center;
        /* padding-right: 30px; */
    }
    .footer .footer-wrap .categories{
        width: 100%;
        max-width: 50%;
        text-align: center;

    }
    .footer .footer-wrap .community{
        width: 100%;
        max-width: 50%;
        text-align: center;

    }
    .footer .footer-wrap .icon{
        width: 100%;
        max-width: 50%;
        text-align: center;

    }
    .footer .footer-wrap .content{
        padding: 0;
    }
}